#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: Oxanium;
  src: url('./assets/fonts/Oxanium-Regular.ttf') format('truetype');
  font-display: swap;
}

body {
  width: 100vw; /* а не 100% */
  font-family: Oxanium;
  overflow-x: hidden;
  background: url('./assets/diagonal-noise.webp');
}

button {
  font-family: Oxanium;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 2em;
}

.button-difficulty {
  min-width: 100px;
  min-height: 44px;
  padding: 0.5em;
  font-weight: 700;
  border: 2px solid rgb(248, 248, 248);
  border-radius: 5px;
  cursor: pointer;
  color:white;
  background-color: black;
  transition: 0.5s;
  box-shadow: 0 0 5px rgb(120, 120, 120);
}

.button-difficulty:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgb(2, 84, 235);
}

.card {
  width: 100%;
  padding: 0.2em;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 5px rgb(109, 108, 108);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgb(2, 84, 235);
}

.card img{
  width: 100%;
}

.card-name {
  font-size: 1.3em;
  font-weight: 600;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.setDifficultyBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.setDifficultyBlock img {
  width: 340px;
  display: block;
}

.bestScore {
  position: absolute;
  top:2vh;
  right: 5vh;
  font-weight: 600;
}

.gameRules {
  max-width: 400px;
  padding: 1em;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  font-size: 1em;
  background-color: rgba(216, 216, 216, 0.636);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

summary {
  transition: 0.5s ease-in;
}

summary:hover {
  color:rgb(0, 26, 255);
}

.game-win, .game-lose {
  text-align: center;
}

.game-win img, .game-lose img {
  max-width: 300px;
}

.card.animate {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.3); }
  to { opacity: 1; transform: scale(1); }
}

.card.disappear {
  animation: disappear 0.4s ease forwards;
}

@keyframes disappear {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.3); }
}

@media (max-width: 768px) { 
  #root {
    max-width: 768px;
    padding: 0.5rem;
  }
  
  .wrapper {
    max-width: 768px;
    margin: 2em;
  }

  .all-cards { 
    flex-wrap: wrap;
    margin: 0.2em;
    gap: 2em;
  }

  .card {
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-name {
    font-size: 1.2em;
    font-weight: 600;
}

  .card img{ 
    max-width: 85%;
    height: 100%;
  }

  .gameRules {
    position: relative;
    padding: 0.5em;
    margin: 0;
    top:2em;
    left: 0;
  }
}

@media (max-width: 375px) { 
  #root {
    max-width: 375px;
    padding: 0.5rem;
  }
  
  .wrapper {
    max-width: 375px;
  }

  .gameRules {
    position: relative;
    padding: 0.5em;
    margin: 0;
     top:2em;
    left: 0;
  }
}


.debug {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 20%;
  max-width: 600px ;
  background-color: rgba(195, 195, 190, 0.436);
  font-size: 0.8em;
  margin: 1em auto;
  padding: 0.4em;
}

.debug p {
  padding: 0;
  margin: 0;
}